<!-- views/partials/nav.ejs -->

<nav class="navbar navbar-default">
        <div class="container">
         <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand"></div>
         </div>
         <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
           <li><a href="/">Home</a></li>
           <li><a href="/auth/loginPage">About</a></li>
           <li><a href="/posts">게시판</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right"> <!-- 1 -->
                <li><a href="/user">회원리스트</a></li>
                <li><a href="/user/new">회원가입</a></li>
                <li><a href="" class="login">로그인</a></li>
              <!--data-use-continue-as="true"를 추가하여 {Name}님으로 계속을 활성화-->
              <li><a href=""><div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div></a></li>

          </ul>

             <div id="fb-root"></div>
             <script>(function(d, s, id) {
                     var js, fjs = d.getElementsByTagName(s)[0];
                     if (d.getElementById(id)) return;
                     js = d.createElement(s); js.id = id;
                     js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v3.2&appId=534326950396810&autoLogAppEvents=1';
                     fjs.parentNode.insertBefore(js, fjs);
                 }(document, 'script', 'facebook-jssdk'));</script>
         </div>
        </div>

</nav>

<script>

    $('.login').click(function(event){  //버튼을 클릭 했을시 popupOpen 함수 출력
        console.log('click');
        popupOpen2();
    });
    //팝업호출함수
    function popupOpen2(){
        let url= "http://localhost:7777/auth/loginPage";    //팝업창에 출력될 페이지 URL
        let winWidth = 300;
        let winHeight = 400;
        let top = 210;   //top,left 현재 노트북 기준 정중앙에 맞춤.
        let left = 600;
        let location = "no" //주소표시줄 표시여부
        let scrollbars = "no" // 스크롤바 표시 여부 (내용이 창보다 클 경우)

        let popupOption= "width="+winWidth+", height="+winHeight+", top="+top+", left="+left+", location="+location ;    //팝업창 옵션(optoin)
        let myWindow = window.open(url,"TestName",popupOption);
        //myWindow.document.write("<h1>"+myWindow.name+"</h1>");

        return myWindow;
    }



// 페북 sdk
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '534326950396810', //내 앱id
            cookie     : true,
            xfbml      : true,
            version    : 'v3.2' //타게팅 api버전
        });

        FB.AppEvents.logPageView();

    };


    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });


</script>