<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>채팅방 - stoneis.pe.kr</title>
    <link rel='stylesheet' href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/css/chat.css">

    <script src="/socket.io/socket.io.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

 
</head>
<body>
	<!-- 컨텐츠 영역 -->
	<div id="contents">
	<h1>채팅방 </h1>
	<div class="chat_content">
        <!-- 로그인 영역 -->

		<div class="chat_login">
			<div class="chat_login_form">
                    <% if(currentUser) { %>     
                <input type="text" class="login_input" id="username" value="<%=currentUser.username%>" readonly/>&nbsp;&nbsp; <a href="#" id="user_join">접속하기</a>
                    <% } else { %> 
                <input type="text" class="login_input" id="username" value="비회원" readonly/>&nbsp;&nbsp;<a href="#"id="user_join">접속하기</a>
                <% } %>      
			</div>
            <div class="now_user_cnt"><strong>현재접속자수</strong> : 
                <span id="now_user_cnt">-</span></div>
		<!-- //로그인 영역 -->
		</div>
		<!-- 채팅창 영역 -->
		<div class="chat_form">
			<div class="chat_list">

            
			</div>
			<div class="chat_user">
				<div class="chat_user_list">
					<ul>

				
					</ul>
				</div>
			</div>
			<div class="chat_input">
				<input type="text" id="chat_input_txt" class="chat_input_txt" value="대화 글을 입력하세요." onclick="$(this).val('');" />
			</div>
			<div class="chat_btn">
                <span id="chat_input" >입력</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="chat_input" href="javascript:chat_out();">나가기</a>
			</div>
		<!-- //채팅창 영역 -->
		</div>
		<!-- 접속로그 영역 -->
		<div class="chat_history">
			<div class="chat_history_list">
				<ul id="chat_logs"></ul>
			</div>
		<!-- //접속로그 영역 -->
		</div>
	</div>
	<!-- //컨텐츠 영역 -->
	</div>

</body>
</html>

<script>

//유저아이디
 var chat_id = $("#username").val();
//현재 접속자 수 
var cnt = 0;
//소켓
var socket = io();

//여기부터 수욜하는 부분 
//유저가 접속하기 눌렀을 때 
$("#user_join").click(()=> {
     var username = chat_id;
    alert(username);
    socket.emit("user_join", username);
    $('#chat_list').html('');
    $('#chat_form_no').slideUp();
	$('#chat_form').slideDown();
})

socket.on("user_join_event", function(data){
    alert(data);
				cnt = data.length;
             	$('#chat_user_list').empty();
             		 				$('#chat_user_list').append('<li><strong>' + data + ' (me)</strong></li>');
            			$('#chat_id').attr('disabled', true);
            				$('#now_user_cnt').html(cnt);
})
//접속에 성공했을 경우 
// socket.on("user_join_alarm", (data) => {
//     alert(data);
//     $('#chat_user_list').empty();
//     $('#chat_user_list').append('<li><strong>' + user_id + ' (me)</strong></li>');
//     $('#chat_id').attr('disabled', true);
//     $('#now_user_cnt').html(cnt);
// })
//    // INPUT BOX에 키보드 이벤트가 발생했을 경우 발생   
//    // 채팅 글을 입력 후 Enter 키를 눌렀을 경우 메시지 전달 처리 (Socket 통신)
   $('#chat_input').keypress(function(evt){
    alert("wefwef");
        if((evt.keyCode || evt.which) == 13) { 
            alert("wefwef");
            chat_input();
            evt.preventDefault();
        }
   });

			// // 접속을 성공했을 경우 소켓 이벤트
			// socket.on('chat_conn', function (data) {
	 		// 	data = JSON.parse(data);
			// 	cnt = data.length;
	 		// 	$('#chat_user_list').empty();
	 		// 	for(var i=0; i<cnt; i++){
	 		// 		var user_id = data[i];
			// 		if (user_id == chat_id) {
		 	// 			$('#chat_user_list').append('<li><strong>' + user_id + ' (me)</strong></li>');
			// 			$('#chat_id').attr('disabled', true);
			// 		} else {
		 	// 			$('#chat_user_list').append('<li>' + user_id + '</li>');
			// 		}
	 		// 	}
			// 	$('#now_user_cnt').html(cnt);
	 		// });
//    //접속로그 소켓 이벤트 
//    socket.on("socket_evt_logs", (data) => {
//        data = JSON.parse(data);
//        $("#chat_logs").empty();
       
//        for(var i=0; i<data.length; i++) {
//            $("#chat_logs").append('<li>' + data[i].log + '('+ data[i].date+ ')' + '</li>');
//        }

//        $(".chat_history_list").scrollTop($("chat_logs").height());
//    })

//    //접속을 종료했을 경우 소켓 이벤트 
//    socket.on("disconnect", (data) => {
//        data = JSON.parse(data);
//        $("#now_user_cnt").html(--cnt);
//    });
//    	// 서로간의 메시지를 전달하는 경우 소켓 이벤트
//     socket.on('receive message', function (msg) {
//         msg = decodeURIComponent(msg);
//         msg = ((msg.replace(/&/g, '&amp;')).replace(/\"/g, '&quot;')).replace(/\'/g, '&#39;'); 
//         msg = msg.replace(/</g, '&lt;').replace(/>/g, '&gt;');
//         $('#chat_list').append('<li>' + msg + '</li>');
//         $('.chat_list').scrollTop($('#chat_list').height()); 
//     });
    
</script>