<!DOCTYPE html>
<html>
 <head>
  <% include ./partials/header %>
 </head>
 <body>
  <% include ./partials/nav %>
  <div class="container home home-welcome">
   <div class="jumbotron">
    <h1>.........................................</h1>
   </div>


      <button class="optionModifyBtn">네이버 팝업</button>
      <button class="openNutax">누탁스열기</button>
      <button class="openHyperExplorer">익스플로러열기</button>

      <div class="row">
          <div class="col-sm-12 col-lg-12 col-md12">
              <div class="col-sm-4 col-lg-4 col-md-4"></div>
              <div class="col-sm-4 col-lg-4 col-md-4">

                  <hr>
                  <div class="row">
                      <a class="btn btn-block btn-lg btn-social btn-naver" href="/auth/login/naver">
                          <img class="fa" src="kakao_login.png" alt="">네이버 계정으로 로그인
                      </a>
                      <a class="btn btn-block btn-lg btn-social btn-kakao" href="/auth/login/kakao">
                          <img class="fa" src="../image/kakao_login.png">
                      </a>
                      <a class="btn btn-block btn-lg btn-social btn-facebook" href="/auth/login/facebook">
                          <span class="fa fa-facebook"></span>페이스북 계정으로 로그인
                      </a>
                      <!--data-use-continue-as="true"를 추가하여 {Name}님으로 계속을 활성화-->
                      <a class ="btn btn-block btn-lg btn-social btn-facebook"href="">
                          <div class="fb-login-button" data-max-rows="1" noddata-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>
                      </a>



                  </div>
                  </div>
              </div>
              <div class="col-sm-4 col-lg-4 col-md-4"></div>
          </div>
      </div>
  </div>
 </body>
</html>
<script>
    // // 페북 sdk
    // window.fbAsyncInit = function() {
    //     FB.init({
    //         appId      : '534326950396810', //내 앱id
    //         cookie     : true,
    //         xfbml      : true,
    //         version    : 'v3.2' //타게팅 api버전
    //     });
    //
    //     FB.AppEvents.logPageView();
    //
    // };
    //
    //
    // FB.getLoginStatus(function(response) {
    //     statusChangeCallback(response);
    // });

    let newName, n =0;
    $(".openHyperExplorer").click(() => {
        console.log("렛저렛저");
        let url = "http://172.28.12.10:8080/";
        popupOpen(url);
    });


    $(".openNutax").click((event) => {
        console.log("누탁스열기 클릭했네?");

        let url = "https://210.180.65.158:9440/console/#login";
        popupOpen(url);
    });

    $('.optionModifyBtn').click(function(event){  //버튼을 클릭 했을시 popupOpen 함수 출력
        console.log('네이버');
        let url = "http://www.naver.com";
        popupOpen(url);
    });

    newWindow = (frameName) => {
        n +=1;
        newName = frameName+n;

    }
   //팝업호출함수


    function popupOpen(openurl){
        newWindow("test")
        let url        = openurl;    //팝업창에 출력될 페이지 URL
        let winWidth   = 700;
        let winHeight  = 600;
        let toolbar    = "no"; //도구모음 표시할지 여부
        let status     = "yes";
        let menubar    = "yes";
        let fullscreen = "no"; //풀스크린으로 화면 출력 여부
        let top        = 210;   //상단에서부터 팝업의 위치를 지정
        let left       = 600;  //좌측부터 팝업의 위치를 지정
        let location   = "no" //주소표시줄 표시여부
        let scrollbars = "no" // 스크롤바 표시 여부 (내용이 창보다 클 경우)
        let popupOption= "width="+winWidth+", height="+winHeight;    //팝업창 옵션(optoin)
        let myWindow   = window.open(url,newName,popupOption);
        //myWindow.document.write("<h1>"+myWindow.name+"</h1>");
        return myWindow;
    }
</script>
