<!-- views/users/new.ejs -->

<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/header %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container user user-new">

   <form class="user-form form-horizontal" action="/user" method="post">
    <div class="contentBox">
     <h3 class="contentBoxTop">New UserController</h3>
     <fieldset>
      <div class="form-group">
       <label for="username" class="col-sm-3 control-label">Username*</label>
       <div class="col-sm-9">
        <input class="form-control" type="text" id="username" name="username" value="">
       </div>
      </div>
      <div class="form-group">
       <label for="name" class="col-sm-3 control-label">Name*</label>
       <div class="col-sm-9">
        <input class="form-control" type="text" id="name" name="name" value="">
       </div>
      </div>
      <div class="form-group">
       <label for="email" class="col-sm-3 control-label">Email</label>
       <div class="col-sm-9">
        <input class="form-control" type="text" id="email" name="email" value="">
       </div>
      </div>
      <div class="form-group">
       <label for="password" class="col-sm-3 control-label">Password*</label>
       <div class="col-sm-9">
        <input class="form-control" type="password" id="password" name="password" value="">
       </div>
      </div>


      <p>
       <small>*Required</small>
      </p>
     </fieldset>
    </div>
    <div class="buttons">
     <button type="submit" id="submitBtn" class="btn btn-default">가입</button>
    </div>
   </form>

  </div> <!-- container end -->
 </body>
</html>

<script>
 $("#submitBtn").click(function(){

     alert("회원가입 메일이 발송되었습니다. \n메일을 확인해 주시면 회원가입이 완료됩니다.")
 })

</script>

